<div id="playbook-wrapper">
  <div class="playbook-date text-center" style="padding: 100px 0px;">

    <div class="container">
      <div class="row">
        <% if @songs.any? %>
        <div class="col-xs-12 col-sm-3">
          <% @playbook.booking.songs.where(category_id: 1).each do |song| %>
            <%= song.name %>
          <% end %>
        </div>

        <div class="col-xs-12 col-sm-3">
          <% @songs.where(category_id: 2).each do |song| %>
            <%= song.name %>
          <% end %>
        </div>

        <div class="col-xs-12 col-sm-3">
          <% @songs.where(category_id: 3).each do |song| %>
            <%= song.name %>
          <% end %>
        </div>
        <% else %>
          <p>
            No songs chosen yet!
          </p>

        <% end %>
      </div>
    </div>
  </div>
</div>


<script>

</script>
