#active-requests {
  td {
    width: 15%;
    size: 30px;
  }
  .request-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  p {
    size: 10px;
  }
}
