<style>

</style>
<div class="comment-card">
  <p>
    <%= comment.content %>
  </p>
  <p>
    <small>
    <%= comment.created_at.strftime("%a %m/%d/%y") %>
    </small>
  </p>
  <p>
    <small>
    - <%= comment.author ? comment.author : comment.user.try(:email) %>
    </small>
  </p>
</div>
