<!--Content Starts-->
<!--If you don't need the header and footer you have to add classes "fixed-header" & "fixed-footer" with this "page-content-wrapper" element -->
<div class="page-content-wrapper short-width fixed-header fixed-footer">

  <div class="fullscreen-height" data-backgroundimage="http://res.cloudinary.com/codetheatre/image/upload/v1481892940/1920_xtsugn.png">

    <div class="vp-center-outter transparent-bg-9 text-center">

      <div class="vp-center-inner pl20 pr20">

        <h1 class="fourty-four-tittle">404</h1>
        <p>THE PAGE YOU WERE LOOKING FOR, COULDN'T BE FOUND</p>

        <div class="btn-large btn-style4 mt20">
        <%= link_to 'BACK TO HOME', root_path %>
        </div>

      </div>

    </div>
  </div>
</div>
<!--Content End-->
