<h4>
  Add your own song
</h4>
<%= simple_form_for([playbook, song_choice], remote: true) do |f| %>
  <%= f.input :title, input_html: {class: "spaced-form"}, label: false, placeholder: 'Title of song' %>
  <%= f.input :artist, input_html: {class: "spaced-form"}, label: false, placeholder: '...and the artist!' %>
  <button type="submit" name="submit" id="contact-submit">ADD SONG</
<% end %>
