<h4>
  Add your own song
</h4>
<%= simple_form_for([playbook, song_choice], remote: true) do |f| %>
  <%= f.input :title, label: false, placeholder: 'Title of song' %>
  <%= f.input :artist, label: false, placeholder: '...and the artist!' %>
<button type="submit" name="submit" id="contact-submit">ADD SONG</
<% end %>
