<li id=song-choice-id[<%= song_choice.id %>]>
  <div class="song-row">
    <%= song_choice.title.upcase %>
    -
    <%= song_choice.artist.upcase %>
    <%= link_to  playbook_song_choice_path(@playbook, song_choice), method: :delete, data: {confirm: "Sure?"}, remote: true do %>
    <button class="select-button">REMOVE</button>
    <% end %>
  </div>
</li>
