<!--Footer Starts-->
<footer class="page-footer clearfix">
  <!--Copyrights-->
  <p class="copyrights pull-left">© ONELIFE FILM | + 31 6 10 55 15 88 | info@onelifefilm.nl </p>

  <!--Social Links-->
  <div class="social-link-wrapper pull-right">
    <a href="https://www.facebook.com/OnelifeFilm" target="_blank" rel="nofollow"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/one_life_film/" target="_blank" rel="nofollow"><i class="fab fa-instagram"></i></a>
    <a href="/Algemene-Voorwaarden-OnelifeFilm.pdf"><%=  t('terms_and_conditions') %></a>
    <a href="<%= t('language-link') %>"><img src="<%= image_path t('language') %>" alt="" style="width: 70%"></a>

  </div>

  <!--Fullscreen Button-->
</footer>
<!--Footer End-->
