<!--Footer Starts-->
<footer class="page-footer clearfix">

  <!--Fullpage Button-->
  <a href="#" class="ex-btn full-page pe-7s-expand1"></a>

  <!--Copyrights-->
  <p class="copyrights pull-left">© ONELIFE FILM | + 31 6 10 55 15 88 | info@onelifefilm.nl </p>

  <!--Social Links-->
  <div class="social-link-wrapper pull-right">
    <a href=""><i class="fa fa-facebook"></i></a>
    <a href=""><i class="fa fa-twitter"></i></a>
    <a href=""><i class="fa fa-instagram"></i></a>
    <a href=""><i class="fa fa-pinterest-p"></i></a>
    <a href=""><i class="fa fa-flickr"></i></a>
  </div>

  <!--Fullscreen Button-->
</footer>
<!--Footer End-->
