<style>
.red {
  color: red !important;
}

.green {
  color: green !important;

}

.orange {
  color: orange !important;
}
</style>
<header class="page-header clearfix">

  <!--Logo Wrapper-->
  <%= link_to playbook_path(@playbook), class: "logo-wrapper" do %>
  <%= @playbook.booking.name %>

  <% end %>

  <!--Mobile Menu Icon-->
  <a href="#" class="mobile-nav-button">
    <i class="icon"></i>
  </a>

  <!--Menu Wrapper Starts-->
  <nav class="manu-wrapper">
    <ul>
      <li id="home">
        <%= link_to t('playbook') + "(#{@count}) ", playbook_path(@playbook), class: @playbook.colored_playline_state %>
      </li>
      <li id="gallery">
        <%= link_to t('music')+ "(#{@music_count})", songs_playbook_path, class: @playbook.colored_music_state %>
      </li>
    </ul>
  </nav>
  <!--Menu Wrapper End-->

</header>
