        <header class="page-header clearfix">

            <!--Logo Wrapper-->
            <a href="index.html" class="logo-wrapper">
            ONELIFE FILM
            </a>

            <!--Mobile Menu Icon-->
            <a href="#" class="mobile-nav-button">
                <i class="icon"></i>
            </a>

            <!--Menu Wrapper Starts-->
            <nav class="manu-wrapper">
                <ul>
                    <li class="active">
                      <%= link_to 'HOME', root_path %>
                    </li>
                    <li>
                      <%= link_to 'GALLERY', gallery_path %>
                    </li>
                    <li>
                      <%= link_to 'ABOUT', about_path %>
                    </li>
                    <li>
                      <%= link_to 'CONTACT', contact_path %>
                    </li>
                </ul>
            </nav>
            <!--Menu Wrapper End-->

        </header>
