<div class="page-content-wrapper">
  <h2>
    Draaiboek
  </h2>

  <div class="container pt100 pb100">
    <div class="row">
      <div class="text-left">
        <!--form-->
        <div class="message"></div>
        <form id="booking_form" action="/booking_forms/<%= @bookings_form.id %>/booking_line" method="POST">
          <% @bookings_form.form_lines.each do |line| %>
          <div class="col-xs-6">
            <input type="text" class="" value="<%= line.content %>">
          </div>
          <div class="col-xs-6">
            <button type="submit">
              update
            </button>
            <button type="submit" method="delete">
              delete
            </button>
          </div>
          <% end %>

          <input type="text" class="form-control" value="">
          <button type="submit">
           ADD
         </button>
         <p id="date-error-message"></p>
       </form>
     </div>
   </div>
 </div>
</div>
