<h1> Your booking has been approved ! </h1>

<h3>Playbook</h3>

<p>
  What we need from you now is a playbook, basically what is going to happen on the day or days of your wedding. We have created a tool where you can easily create the playbook. The following link will guide you to the tool!
</p>
  <a href="http:/localhost:3000/playbooks/<%= @booking.playbook.id %>"> My playbook</a>

<h3> Music </h3>

<p>
  We have created a library of music, of which we know it works really well with video. Please select a song from our library, if you prefer to choose your own music, please get in touch with us!
</p>

