<div class="active-classer" id="contact"></div>


<!--Content Starts-->
<div class="page-content-wrapper">

  <div class="container pt100 pb100">
    <div class="row">

      <div class="col-sm-6">

        <div class="text-left">

          <h4>Aanvraag</h4>
          <i class="d-line d-left mb10"></i>
          <p>Wilt u meer informatie over het laten maken van een film van een speciale gebeurtenis? Of wilt u meer informatie over OneLife Film dan kunt u contact met ons opnemen door middel van het onderstaande contactformulier. Maar als u ons belt dan kunnen wij u nog sneller van dienst zijn </p>

          <p class="phon"><b>TELEFOON :</b><a href="#">+31 6 10 55 15 88</a></p>
          <p class="mail"><b>MAIL :</b><a href="#"> info@onelife.nl</a></p>

        </div>

      </div>

      <div class="col-sm-6">

        <div class="text-left">

          <!--form-->
          <div class="message"></div>
          <form id="name" method="POST" action="/requests" name="request">

            <input type="text" name="request[name]" placeholder="NAME" required autocomplete="off">
            <input type="email" name="request[email_address]" placeholder="EMAIL" required autocomplete="off">
            <input type="text" name="request[phone_number]" placeholder="PHONE NUMBER" required autocomplete="off">
            <input type="text" name="request[concerns]" placeholder="WHAT DO YOU WANT TO DO?" required autocomplete="off">
            <%= token_tag %>
            <input type="text" name="request[location]" placeholder="LOCATION" required autocomplete="off">
            <input type="date" styname="request[date_wedding]" placeholder="DATE" required autocomplete="off" id="contact-date" >
            <p id="date-error-message"></p>
            <textarea name="request[description]" placeholder="MESSAGE" required></textarea>
            <button type="submit" name="submit" id="contact-submit">SUBMIT</button>

          </form>

        </div>
      </div>
    </div>

  </div>
</div>
  <!--Content End-->
