<!--Content Starts-->
<!--Tittle Section Starts-->
<!--If header is fixed or header tag has a class "fixed" you have to add a class "fixed-header"" with this "page-content-wrapper" element -->
<div class="active-classer" id="about"></div>
<div class="page-content-wrapper fixed-header" data-backgroundimage="http://res.cloudinary.com/codetheatre/image/upload/v1481952923/1601_tcy5rq.png">

  <div class="text-center transparent-bg-8 pt80 pb80 pl20 pr20">

    <h4 class="page-tittle">About us</h4>

    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">About us</li>
    </ul>

    <i class="i-box mt10"></i>

  </div>

</div>
<!--Tittle Section End-->



<!--Intro Section Starts-->
<div class="page-content-wrapper">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center pt100 pb110 mb0">

      <h4>WIE ZIJN WIJ</h4>
      <i class="d-line d-center mb20 mt10"></i>
      <p>OneLife FILM legt onvergetelijke gebeurtenissen van het leven vast in een sfeervolle filmclip. Begeleid door jouw favoriete muziek worden de highlights van je bruiloft, je verjaardag, een herinnering aan een dierbare of de doop van je kind vereeuwigd.

        Een professioneel cameraman beleeft de hele trouwdag discreet met jullie mee. De gehele trouwdag tot en met de openingsdans zal hij heel ongedwongen de mooiste momenten van jullie trouwdag vastleggen.

        Nadat de eerste filmbeelden gemaakt zijn, start de editor met de montage van jullie eigen trouwfilm. Deze wordt gemonteerd op jullie eigen favoriete muziek, zodat beeld en geluid een eenheid vormen. Op de feestavond, in overleg wordt jullie eigen spectaculaire trouwfilm
        op een groot scherm vertoond, zodat iedereen kan genieten van jullie onvergetelijke dag!
        Bel of mail voor meer informatie met OneLife FILM. Wij vertellen je graag over alle mogelijkheden.</p>

      </div>
    </div>
  </div>
  <!--Intro Section End-->



  <!--Fullwidth Section Starts-->
  <div class="page-content-wrapper clearfix">

    <div class="col-sm-6 equal-height" data-backgroundimage="http://res.cloudinary.com/codetheatre/image/upload/v1481947843/1201_q6r5l9.png"></div>

    <div class="col-sm-6 equal-height opposite-bg pt150 pb150 pl100 pr100">

      <h5> Een verhaal over ons </h5>
      <p>Het mooiste kado ”ever”! Op de trouwdag ´s morgens vroeg staat Sket, gewapend met camera, op de stoep – verrassing!! De hele dag heeft hij heerlijk om ons heen bewogen om deze, voor ons zo belangrijke dag, vast te leggen. Het hoogtepunt kwam aan het einde van de avond... op een groot scherm werd (de inmiddels gemonteerde) ”clip” vertoond! Op een heerlijk nummer, de mooiste momenten, ons ja-woord, onze lieve vrienden en familie; alles kwam in deze paar minuten voorbij... Onze belangrijkste dag van kop tot staart in een paar minuten samengevat in een fantastisch, romantisch, mooi en liefdevol document!! ALLES IS LIEFDE!!!</p>

    </div>

  </div>
  <!--Fullwidth Section End-->



  <!--Do Section Starts -->
  <div class="page-content-wrapper">
    <div class="container">

      <div class="text-center pt80 pb60">

        <h4>WAT WIJ DOEN</h4>
        <i class="d-line d-center mb60 mt10"></i>

        <div class="row">

          <div class="col-md-3 equal-height col-md-offset-3">
            <div class="do-item">

              <div class="image-wrapper" data-backgroundimage="http://res.cloudinary.com/codetheatre/image/upload/v1481947008/1600_fczy1e.png"></div>
              <h5>Fotografie</h5>
              <p>Csollicitudin deasxfegestas erat. Pellentesque lacinia velit quis</p>

            </div>
          </div>


          <div class="col-md-3 equal-height">
            <div class="do-item">

              <div class="image-wrapper" data-backgroundimage="http://res.cloudinary.com/codetheatre/image/upload/v1481947008/1600_fczy1e.png"></div>
              <h5>Film</h5>
              <p>Dsollicitudin deasxfegestas erat. Pellentesque lacinia velit quis</p>

            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
  <!--Do Section End -->



  <!--Team Section Starts-->
  <div class="page-content-wrapper off-bg">

    <div class="container">
      <div class="text-center pt80 pb50">

        <h4>Ons Team</h4>
        <i class="d-line d-center mb60 mt10"></i>


        <div class="row">

          <div class="col-md-4">

            <div class="member-item text-left">
              <div class="relative overflow-h mb30">

                <img src="http://res.cloudinary.com/codetheatre/image/upload/v1481968040/601_ofo8s5.png" />

                <div class="social-link-wrapper">
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-pinterest-p"></i></a>
                  <a href=""><i class="fa fa-flickr"></i></a>
                </div>

              </div>

              <h5>Anouk Caris</h5>
              <p>Founder</p>

            </div>

          </div>



          <div class="col-md-4">

            <div class="member-item text-left">
              <div class="relative overflow-h mb30">

                <img src="http://res.cloudinary.com/codetheatre/image/upload/v1481968040/601_ofo8s5.png" />

                <div class="social-link-wrapper">
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-pinterest-p"></i></a>
                  <a href=""><i class="fa fa-flickr"></i></a>
                </div>

              </div>

              <h5>SKET CARIS</h5>
              <p>Founder</p>

            </div>

          </div>



          <div class="col-md-4">

            <div class="member-item text-left">
              <div class="relative overflow-h mb30">

                <img src="http://res.cloudinary.com/codetheatre/image/upload/v1481968040/601_ofo8s5.png" />

                <div class="social-link-wrapper">
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-pinterest-p"></i></a>
                  <a href=""><i class="fa fa-flickr"></i></a>
                </div>

              </div>

              <h5>SARA MENDES</h5>
              <p>PHOTOGRAPHER</p>

            </div>

          </div>


        </div>

      </div>
    </div>

  </div>
  <!--Team Section End-->



  <!--Clients Section Starts-->
  <div class="page-content-wrapper">

    <div class="container">

      <div class="clients text-center">

        <div class="row">

          <div class="col-sm-2">
            <img src="http://res.cloudinary.com/codetheatre/image/upload/v1481983709/300_rwrc5s.png"/>
          </div>

          <div class="col-sm-2">
            <img src="http://res.cloudinary.com/codetheatre/image/upload/v1481983709/300_rwrc5s.png" />
          </div>

          <div class="col-sm-2">
            <img src="http://res.cloudinary.com/codetheatre/image/upload/v1481983709/300_rwrc5s.png" />
          </div>

          <div class="col-sm-2">
            <img src="http://res.cloudinary.com/codetheatre/image/upload/v1481983709/300_rwrc5s.png" />
          </div>

          <div class="col-sm-2">
            <img src="http://res.cloudinary.com/codetheatre/image/upload/v1481983709/300_rwrc5s.png" />
          </div>

          <div class="col-sm-2">
            <img src="http://res.cloudinary.com/codetheatre/image/upload/v1481983709/300_rwrc5s.png" />
          </div>

        </div>

      </div>

    </div>

  </div>
  <!--Clients Section End-->

