<!--Content Starts-->
<div class="page-content-wrapper">

  <div class="container pt100 pb100">
    <div class="row">

      <div class="col-sm-6">

        <div class="text-left">

          <h4>Contact Info</h4>
          <i class="d-line d-left mb10"></i>
          <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
          <p class="phon"><b>PHON :</b><a href="#"> +123546545421</a></p>
          <p class="addrs"><b>ADDRESS :</b> Chiranji Lal Colony, Dadri, Uttar Pradesh</p>
          <p class="mail"><b>MAIL :</b><a href="#"> example@site.com</a></p>

        </div>

      </div>

      <div class="col-sm-6">

        <div class="text-left">

          <!--form-->
          <div class="message"></div>
          <form id="contact" method="post" action="php/contact.php">

            <input type="text" name="user_name" placeholder="NAME" required autocomplete="off">
            <input type="email" name="user_email" placeholder="EMAIL" required autocomplete="off">
            <input type="text" name="message_subject" placeholder="SUBJECT" required autocomplete="off">
            <textarea name="user_message" placeholder="MESSAGE" required></textarea>
            <button type="submit" name="submit">SUBMIT</button>

          </form>

        </div>

      </div>

    </div>
  </div>

</div>
<!--Content End-->

<!--Google Map Wrapper Starts-->
<div class="g-map">

  <div id="map" data-latitude="28.555769" data-longitude="77.556049"></div>

</div>
        <!--Google Map Wrapper -->
