<div class="active-classer" id="contact"></div>


<!--Content Starts-->
<div class="page-content-wrapper">

  <div class="container pt100 pb100">
    <div class="row">

      <div class="col-sm-6">

        <div class="text-left">

          <h4>Contact</h4>
          <i class="d-line d-left mb10"></i>
          <p>Wilt u meer informatie over het laten maken van een film van een speciale gebeurtenis? Of wilt u meer informatie over OneLife Film dan kunt u contact met ons opnemen door middel van het onderstaande contactformulier. Maar als u ons belt dan kunnen wij u nog sneller van dienst zijn </p>

          <p class="phon"><b>TELEFOON :</b><a href="#">+31 6 10 55 15 88</a></p>
          <p class="addrs"><b>ADRES :</b> Middelwaarde 23, Laren</p>
          <p class="mail"><b>MAIL :</b><a href="#"> info@onelife.nl</a></p>

        </div>

      </div>

      <div class="col-sm-6">

        <div class="text-left">

          <!--form-->
          <div class="message"></div>

          <form method="POST" action="https://formspree.io/info@onelifefilm.nl">

            <input type="text" name="user_name" placeholder="NAAM" required autocomplete="off">
            <input type="email" name="user_email" placeholder="EMAIL" required autocomplete="off">
            <input type="text" name="message_subject" placeholder="ONDERWERP" required autocomplete="off">
            <input type="text" name="phone_number" placeholder="TELEFOON NUMMER" required autocomplete="off">
            <input type="text" name="location_wedding" placeholder="LOCATIE BRUILOFT" required autocomplete="off">
            <input type="text" name="phone_number" placeholder="TELEFOON NUMMER" required autocomplete="off">
            <input type="text" name="date_wedding" placeholder="DATUM BRUILOFT" required autocomplete="off">

            <textarea name="client_message" placeholder="BERICHT" required></textarea>
            <button type="submit" name="submit">VERZEND</button>

          </form>

        </div>

      </div>

    </div>
  </div>

</div>
<!--Content End-->
