<div class="active-classer" id="gallery" style="width:100%; margin:10px;"></div>
<!--Preloader Starts-->
<div class="main-container short-width fixed-header fixed-footer">
	<!--Filter Wrapper Starts-->
	<div class="isotope-filter" style="margin-top: -50px;">
	</div>
	<!--Filter Wrapper End-->
  <div class="masonry gallery-default" data-items-columns="3" data-items-gap="25">

    <!--Items Starts-->
    <!-- For item sizes use classes (double-width) and (double-height) -->
    <div class="item double-width filter-creative filter-outdoor">

      <a class="video-frame" href="https://vimeo.com/132738834" title="Image Caption">

        <div class="image-wrapper" data-backgroundimage="https://i.vimeocdn.com/video/718549875.webp?mw=960&mh=540"></div>
        <div class="caption-wrapper"></div>

      </a>

    </div>



    <div class="item double-height filter-indoor filter-fashion">

      <a class="video-frame" href="https://vimeo.com/278157582">

        <div class="image-wrapper" data-backgroundimage="https://i.vimeocdn.com/video/711120194.webp?mw=960&mh=540"></div>
        <div class="caption-wrapper"></div>

      </a>

    </div>



    <div class="item double-height filter-outdoor">

      <a class="video-frame" href="https://vimeo.com/276699542">

        <div class="image-wrapper" data-backgroundimage="https://i.vimeocdn.com/video/709287611.webp?mw=960&mh=540"></div>
        <div class="caption-wrapper"></div>

      </a>

    </div>



    <div class="item double-height filter-creative filter-fashion">

      <a class="video-frame" href="https://vimeo.com/215426153" title="Image Caption">

        <div class="image-wrapper" data-backgroundimage="https://i.vimeocdn.com/video/632139539.webp?mw=960&mh=540"></div>
        <div class="caption-wrapper"></div>

      </a>

    </div>



    <div class="item filter-indoor filter-creative">

      <a class="video-frame" href="https://vimeo.com/111228151" title="Image Caption">

        <div class="image-wrapper" data-backgroundimage="https://i.vimeocdn.com/video/514185985.webp?mw=960&mh=540"></div>
        <div class="caption-wrapper"></div>

      </a>

    </div>



    <div class="item filter-creative filter-fashion">

      <a class="video-frame" href="https://vimeo.com/278707627" title="Image Caption">

        <div class="image-wrapper" data-backgroundimage="https://i.vimeocdn.com/video/711796215.webp?mw=960&mh=540"></div>
        <div class="caption-wrapper"></div>

      </a>

    </div>



    <div class="item double-width filter-indoor filter-outdoor">

      <a class="video-frame" href="https://vimeo.com/240014829" title="Image Caption">

        <div class="image-wrapper" data-backgroundimage="https://i.vimeocdn.com/video/663165797.webp?mw=960&mh=540"></div>
        <div class="caption-wrapper">
        </div>

      </a>

    </div>
    <!--Items End-->
  </div>

</div>
