<div class="active-classer" id="gallery" style="width:100%; margin:10px;"></div>


<!--Preloader Starts-->
<div class="preloader"><i class="p-in"></i></div>
<!--Preloader End-->

<!--Main Wrapper Starts-->
<div class="main-wrapper animsition">
  <!--Content Starts-->
  <div class="main-container short-width">


    <!--Masonry Wrapper Starts-->
    <div class="masonry gallery-default" data-items-columns="5" data-items-gap="8">


      <% @films.each_with_index do |film, i|  %>
      <% if [0,3,5].include?(i)  %>

      <div class="item double-height">

        <iframe src="https://player.vimeo.com/video/<%=  film.video_url.match(/\d+\z/)[0] %>?color=a39254&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <% elsif [6,2,11].include?(i) %>

      <div class="item double-width">

        <iframe src="https://player.vimeo.com/video/<%=  film.video_url.match(/\d+\z/)[0] %>?color=a39254&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      </div>

      <% else %>

      <div class="item">

          <iframe src="https://player.vimeo.com/video/<%=  film.video_url.match(/\d+\z/)[0] %>?color=a39254&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      </div>

      <% end %>
      <% end %>


    </div>
    <!--Masonry Wrapper End-->
  </div>
  <!--Content End-->
</div>

