<div class="active-classer" id="gallery" style="width:100%; margin:10px;"></div>
<!--Preloader Starts-->
<div class="main-container short-width fixed-header fixed-footer">
	<!--Filter Wrapper Starts-->
	<div class="isotope-filter" style="margin-top: -50px;">
		<ul>

			<li>
				<a href="#" data-filter="filter-wedding"><%= t('wedding') %></a>
			</li>

		</ul>
	</div>
	<!--Filter Wrapper End-->
	<!--Wide Wrapper Starts-->
	<div class="wide gallery-wide" id="gallery-container" data-items-gap="10">

		<!--Items Starts-->
		<% @films.each_with_index do |film, i|  %>

		<div class="item <%= i % 2 == 0 ? 'filter-wedding' : 'filter-compilation'  %>">

			<div class="zoom-hover iframe-wrapper">

				<iframe src="https://player.vimeo.com/video/<%=  film.video_url.match(/\d+\z/)[0] %>?controls=0" frameborder="0" scrolling="yes"></iframe>
			</div>

		</div>
		<% end %>
		<!--If you don't need zoom animation on hover, you can remove the (zoom-hover) div-->


	</div>
	<!--Wide Wrapper End-->

</div>

<script src="https://player.vimeo.com/api/player.js"></script>
<script>
var iFrames = document.querySelectorAll('.iframe-wrapper');

function createPlayer(iframe) {
    var player = new Vimeo.Player(iframe);
    return player
}

iFrames.forEach(frame => {
  var iframe = frame.querySelector('iframe')
  var player = createPlayer(iframe);
  frame.addEventListener('click', function() {
    player.getPaused().then(function(paused) {
      paused ? player.play() : player.pause();
        // paused = whether or not the player is paused
    }).catch(function(error) {
      console.log(error);
    });
  })
})
</script>
