<div class="home">
  <div class="video-container">
    <video autoplay loop poster src=""></video>
  </div>
  <div class="home-title-container">
<h1 class="home-title">
  Welcome to ONELIFEFILM
</h1>
<div class="home-subtitle">
  Film production
</div>
  </div>
</div>

<%= link_to 'New Film', new_film_path, class: "btn btn-primary" %>

