<div class="active-classer" id="home"></div>


<!--Main Wrapper Starts-->
<div class="main-wrapper animsition">

    <!--Content Starts-->
    <div class="main-container">
<!-- <script>
if (window.navigator.orientation) {

}

</script> -->
        <!--Background Video Wrapper-->
        <div class="bg-video-wrapper" data-muted="true" data-property="{videoURL: 'https://www.youtube.com/watch?v=AoPiLg8DZ3A&list=PLjNhZb2G5ZVigPx3OQn8s1PDyId9fywpO'}"></div>

        <!--Cover Wrapper Starts-->
        <div class="cover-wrapper cover-one video-cover">

            <div class="cover-inner">
                <h2>WELCOME TO ONELIFE</h2>
                <p>Film Productions</p>
            </div>

        </div>
        <!--Cover Wrapper End-->
    </div>
    <!--Content End-->
</div>
<!--Main Wrapper End-->


