<div class="active-classer" id="home"></div>

<!--Preloader Starts-->
<div class="preloader"><i class="p-in"></i></div>
<!--Preloader End-->

<!--Main Wrapper Starts-->
<div class="main-wrapper animsition">

    <!--Content Starts-->
    <div class="main-container">

         <!--Cover Wrapper Starts-->
      <div class="cover-wrapper cover-one video-cover" id="home-background">

        <div class="home bg-video-wrapper" data-muted="true" data-property="{videoURL: 'https://youtu.be/A7GUAtlSWXA?autoplay=1&loop=1'}"></div>
        <!--Background Video Wrapper-->
        <style>
          .text-shadow {
            text-shadow: 1px 1px black;
          }
          #disappearing-title {
            transition: 2000ms ease;
          }
        </style>
          <div class="cover-inner" id="disappearing-title">
              <h2 class="text-shadow"><%= t('home_content.title') %></h2>
              <p class="text-shadow"><%= t('home_content.value_proposition') %>
              </p>
          </div>
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          setInterval(function(){
            document.getElementById('disappearing-title').style.opacity = 0;
          }, 5000);
        })
      </script>
      <style>
        #white {
          color: white !important;
        }
        #fifty {
          size: 50px;
        }
      </style>
        <div class="cover-wrapper" id="home-background-mobile">
          <!--Background Video Wrapper-->
            <div class="cover-inner" style="color: white !important;">
              <h2 id="white"><%= t('home_content.title') %></h2>
              <p id="white"><%= t('home_content.value_proposition') %>
              </p>
            </div>
        </div>
        <!--Cover Wrapper End-->
    </div>
    <!--Content End-->
</div>
<!--Main Wrapper End-->


