<div class="active-classer" id="home"></div>

  <!--Preloader Starts-->
  <div class="preloader"><i class="p-in"></i></div>
  <!--Preloader End-->



<!--Main Wrapper Starts-->
<div class="main-wrapper animsition">

    <!--Content Starts-->
    <div class="main-container">
<!-- <script>
  if (window.navigator.orientation) {
          document.getElementById('chart').style.display = "none"
  }
  else {

  }
</script>

 -->        <!--Cover Wrapper Starts-->
      <div class="cover-wrapper cover-one video-cover">

        <div class="home bg-video-wrapper" id="home-background" data-muted="true" data-property="{videoURL: 'https://www.youtube.com/watch?v=4pSzhZ76GdM&index=3&list=PLD33E5618740295DF'}"></div>
        <!--Background Video Wrapper-->
            <div class="cover-inner">
                <h2>WELCOME TO ONELIFE</h2>
                <p>Film Productions</p>
            </div>

        </div>
        <!--Cover Wrapper End-->
    </div>
    <!--Content End-->
</div>
<!--Main Wrapper End-->


