<!--Main Wrapper Starts-->
<div class="main-wrapper animsition">

    <!--Content Starts-->
    <div class="main-container">

        <!--Background Video Wrapper-->
        <div class="bg-video-wrapper" data-muted="true" data-property="{videoURL: 'https://www.youtube.com/watch?v=4pSzhZ76GdM&index=3&list=PLD33E5618740295DF'}"></div>

        <!--Cover Wrapper Starts-->
        <div class="cover-wrapper cover-one video-cover">

            <div class="cover-inner">
                <h2>WELCOME TO ONELIFE</h2>
                <p>Film Productions</p>
            </div>

        </div>
        <!--Cover Wrapper End-->

        <!--Video Control Wrapper Starts-->
        <div class="bgvideo-controls">
            <a href="#" class="vid-playpause fa fa-pause"></a>
            <!-- <a href="#" class="vid-sound fa fa-volume-up"></a> -->
        </div>
        <!--Video Control Wrapper End-->

    </div>
    <!--Content End-->
</div>
<!--Main Wrapper End-->


