<div class="homepage-hero-module">
  <div class="video-container">
    <div class="filter"></div>
    <%= video_tag 'Crocodile.mp4', class: 'fillWidth', loop: true, autoplay: true %>
    <div class="poster hidden">
      <%= image_tag 'Crocodile.jpg' %>
      </div>
    </div>
  </div>



