<div class="active-classer" id="gallery" style="width:100%; margin:10px;"></div>


<!--Preloader Starts-->
<div class="preloader"><i class="p-in"></i></div>
<!--Preloader End-->

<!--Content Starts-->
<div class="main-container short-width">

  <!--Wide Wrapper Starts-->
  <div class="wide portfolio-one" data-items-gap="15">

    <!--Items Starts-->
    <div class="item">
      <div class="project">

        <div class="image-wrapper" data-backgroundimage="http://res.cloudinary.com/codetheatre/image/upload/v1481952923/1601_tcy5rq.png"></div>

        <div class="caption-wrapper">
          <div class="tittle-info">
            <a class="video-frame" href="<%= @film.video_url %>"><h4> <%= @film.name %></h4></a>
            <p class="category"><a href="#">WEDDING</a><a href="#">FILM</a></p>
          </div>
        </div>

      </div>
    </div>
    <!--Items End-->

  </div>
  <!--Wide Wrapper End-->

</div>
<!--Content End-->
