<!--Content Starts-->
<div class="main-container short-width" style="margin-top: 40px; margin-bottom: 100px;">

  <!--Wide Wrapper Starts-->
  <div class="wide portfolio-one" data-items-gap="15">

    <!--Items Starts-->
    <div class="item">
      <div class="project">


        <div class="caption-wrapper" data-backgroundimage="http://i.ytimg.com/vi/krLTbQlRyAQ/maxresdefault.jpg">
          <div class="tittle-info">
            <a class="video-frame" href="<%= @film.video_url %>"></a>
          </div>
        </div>

      </div>
    </div>
    <!--Items End-->

  </div>
  <!--Wide Wrapper End-->

</div>
<!--Content End--><h4 style="text-align: center;"> <%= @film.name %></h4>


