/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.no-height {
  height: 0px !important;
}

@media (min-width: 730px) {
  .spaced-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 8%;
  }
}

@media (max-width: 730px) {
  .spaced-around {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

strong {
  border-bottom: 3px solid rgba(164, 149, 95,0.7);
  -webkit-box-shadow: inset 0 -5px 0 rgba(164, 149, 95,0.38);
  box-shadow: inset 0 -5px 0 rgba(164, 149, 95,0.38);
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  height: 20px;
  display: inline-block;
}

.underline-title {
  border-bottom: 3px solid rgba(164, 149, 95,0.7);
  -webkit-box-shadow: inset 0 -5px 0 rgba(164, 149, 95,0.38);
  box-shadow: inset 0 -5px 0 rgba(164, 149, 95,0.38);
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  height: 20px;
  display: inline-block;
}

.flexed-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
