#contact-submit {
  height: 45px;
  margin-bottom: 0 !important;
}

.grey-background-button {
  background-color: rgba(228,228,228,0.9);
  border-radius: 4px;
  transition: 200ms ease;
  width: 100%;
  padding: 10px 0;
  margin: 1px;
  text-align: center;
  font-size: 16px;
}

.grey-background-button:hover {
  opacity: 0.4;
}


.white-square-button {
  font-size: 16px;
  padding: 4px 12px 0px 12px;
  border-radius: 4px;
  border: solid 0.25px rgba(240,240,240,0.9);
  background-color: rgba(250,250,250,0.9);
  margin: 1px;
}
