.no-text-align {
  text-align: none !important;
}

@media (min-width: 730px) {
  .inline-form {
    display: flex;
    .inline-form-element {
      width: 15%;
      font-size: 15px;
      margin-right: 1px;

    }
    .inline-form-element:nth-child(1) {
      width: 8% !important;
    }
    .inline-form-element:nth-child(3) {
      width: 21% !important;
    }
    .inline-form-element:last-child {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      a {
        padding: 0px 10px;
      }
    }
  }
  .inline-form:last-child {
    border-bottom: none !important;
  }

  .hide {
    display: none;
  }
  .inline-input:first-child {
    margin-top: 0 !important;
  }
}

.inline-input {
  outline: 0;
  padding: 12px 5px;
  border: none;
  margin-top: 2px;
  width: 100%;
  background-color:transparent;
  font-family: 'Lato', sans-serif;
  color:#444;
  letter-spacing: 1px;
}

@media (min-width: 730px) {
  #block-timepicking {
    display: none;
  }
}

@media (max-width: 730px) {
  #inline-timepicking {
    display: none;
  }
  .time-input {
    text-align: center;
    font-size: 16px;
    letter-spacing: 4px;
  }
}

@media (max-width: 733px) {
  .inline-form {
    display: block !important;
  }
}

