.line {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.line:last-child {
  border-bottom: none;
}
.line-body {
  flex-grow: 1;
}
.line-name {
  padding-left: 10px;
  min-width: 100px;
}
.line-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.line-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.line-body {
  text-align: center;
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.line-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.line-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.line-body p {
  margin: 6px 0;
}
.line-status {
  font-size: 14px;
  font-weight: bold;
}
.over {
  opacity: 0.5;
}

.line {
  opacity:1;
  transition: opacity 1s;
}

.line.fade {
  opacity:0;
}
