// Admin bootstrap template
@import "admin/bootstrap.min.css";
@import "admin/sb-admin.css";
@import "admin/simple_form";

// Gems
@import "bootstrap-datepicker";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "admin/pages/index";
@import "admin/components/index";
// for admin booking show of the client table
@import "components/tables"
