// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";
@import "config/font_awesome";
@import "config/utilities";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

