<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Admin dashboard
        </h1>
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>Hello Mama!</h1>
       <div class="well">
        <p>This your admin session.</p>
        <p>Here you can manage and control your website by adding, editing or destroying films & bookings.</p>
        <p>Hope you enjoy it! </p>
      </div>
    </div>
  </div>
</div>

