td {
  width: 3%;
  size: 30px;
  height: 70px;
}

.request-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.bookings-table {
  box-shadow: 1px 0.5px 9px #95C623;
  border-radius: 7px;
}

.requests-table {
  box-shadow: 1px 0.5px 9px #EFA00B;
  border-radius: 7px;
}

.playline-changes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
