.tabs {
  background: white;
  display: flex;
  padding: 10px 0px 0 0px;
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: #222222;
  text-align: center;
  padding: 20px 0;
  flex: 0 0 8.33333333%;
}

.half-size {
  flex: 0 0 50% !important;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: #EEEE;
  color: black;
}

.active-tab {
  background-color: black !important;
  color: white !important;
}

