.padding-100 {
  padding: 20px
}
.black-text {
  color: rgb(250,250,250) !important;
}
.navbar-inverse {
  border: none !important;
}
#no-effect:hover {
  color: white !important;
  background-color: black !important;
}
