<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="/admin">OneLife Admin</a>
  </div>

  <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
  <div class="collapse navbar-collapse navbar-ex1-collapse" style="z-index: 99;">
    <ul class="nav navbar-nav side-nav">
      <li>
        <a href="/admin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
      </li>
      <li>
        <a href="/admin/bookings"><i class="fa fa-fw fa-plane"></i> Boekingen </a>
      </li>
      <li>
        <a href="/admin/films"><i class="fa fa-fw fa-video-camera"></i> Films </a>
      </li>
      <li>
        <a href="/admin/aanvragen"><i class="fa fa-fw fa-question" aria-hidden="true"></i>
        Aanvragen</a>
      </li>
      <li>
        <a href="/admin/songs"> <i class="fa fa-fw fa-music" aria-hidden="true"></i>
        Liedjes (COMING SOON)</a>
      </li>
      <li>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
